# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Markdown TOC'
      'command': 'markdown-toc:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Markdown TOC'
      'submenu': [
        {
          'label': 'Toggle TOC'
          'command': 'markdown-toc:toggle'
        },
        {
          'label': 'Add TOC'
          'command': 'markdown-toc:create'
        },
        {
          'label': 'Update TOC'
          'command': 'markdown-toc:update'
        },
        {
          'label': 'Remove TOC'
          'command': 'markdown-toc:delete'
        }
      ]
    ]
  }
]
